<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../../dist/index.js"></script>
  </head>
  <body></body>
  <script>
    (async function () {
      //(await fetch("https://jsonplaceholder.typicode.com/todos/")).json()
      const res = await tempjs.compile(
        `
                {%
                    const req = await fetch("https://jsonplaceholder.typicode.com/todos/")
                    const todos = await req.json()
                %}
                <ul>
                    {% let index = 0 %}
                    {% for(const todo of todos){ %}    
                        {% if(index%2 === 0) { %} 
                            <li style="color: red">{%= todo.title %}</li>
                        {% } else { %}
                            <li style="color: green">{%= todo.title %}</li>
                        {% } %}
                        {% ++index %}
                    {% } %}
                </ul>
            `,
        {},
        { async: true }
      );
      document.body.innerHTML = res;
    })();
  </script>
</html>
