* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
}

body {
  display: flex;
  height: 100vh;
}

section,
iframe {
  flex: 1 1;
  height: 100%;
  width: 50%;
}

iframe {
  border: thin solid gray;
}

section {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  body {
    flex-direction: column-reverse;
    height: 200vh;
  }

  section,
  iframe {
    width: 100%;
  }
}
